.register-form {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 8px;
    font-family: "Segoe UI", sans-serif;
}

.form-group {
    margin-bottom: 15px;
}

.register-form label {
    color: black;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"],
.register-form input[type="date"] {
    width: 100%;
    color: black;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
}

.register-form span {
    font-size: 13px;
    display: block;
    margin-top: 3px;
}

.globalbtn {
    width: 100%;
}
