
@{
}
<div class="menu-column">
    <form method="post" asp-controller="Feed" asp-action="Create">
        <button type="submit" class="globalbtn">
            <span>Создать</span>
        </button>
    </form>
    <form method="post" asp-controller="Feed" asp-action="Search">
        <button type="submit" class="globalbtn">
            <span>Поиск</span>
        </button>
    </form>
</div>