<header class="flex-header-container">
    <div class="flex-header-item">
        <h2>Blog</h2>
    </div>
    <div class="flex-header-item">

        <div class="header-search">
            <form asp-area="" asp-controller="Search" asp-action="UserList" method="get">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Поиск" name="search">
            </form>
        </div>
    </div>
    <div class="flex-header-item">
        <h2>item 3</h2>
    </div>
</header>