@model WebSite.ViewModels.Account.LoginViewModel
@{
    //TODO:Валидация пустых полей
}

<div class="auth-wrapper">
    <div class="login-box">
        <h4>Добро пожаловать!</h4>
        <form method="post" asp-controller="Account" asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div>
                <input asp-for="Email" class="form-control" placeholder="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div>
                <input asp-for="Password" class="form-control" placeholder="password"  />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div>
                <input class="globalbtn" type="submit" value="Войти" style="width:100%;" />
            </div>
        </form>

        <div class="register-link">
            <a asp-controller="Account" asp-action="Registration">Регистрация</a>
        </div>

    </div>
</div>
